
@{
    ViewData["Title"] = "Submit";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Thank You!</h2>

<p>Your message has been successfully submitted. We will get back to you soon.</p>

<a asp-action="Submit" class="btn btn-primary">Send Another Message</a>
