
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/_Layout.cshtml";
}





<body class="portfolio-page">

    

    <main class="main">

        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Portfolio</h2>
                <p>A selection of my recent projects that highlight my development journey.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    @* <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active">All</li>
                        <li data-filter=".filter-app">Web</li>
                        <li data-filter=".filter-card">Certificate</li>
                       
                    </ul><!-- End Portfolio Filters --> *@

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            
                            
                            
                            <img src="~/assets/img/portfolio/studentmanagement.jpeg" class="img-fluid" alt="" style="height:400px"/>
                            <div class="portfolio-info">
                                <h4>App 1</h4>
                                <p>E-learning Platform</p>
                                <a href="#" title="App 1" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="https://github.com/Youssef-Ebn-Yasser/StudentManagement.git" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="~/assets/img/portfolio/socialmedia.png" class="img-fluid" alt="" style="height:400px">
                            <div class="portfolio-info">
                                <h4>App 2</h4>
                                <p>Social Media Platform</p>
                                <a href="~/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="https://github.com/HasnaaHassan11/SocialMedia" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->
                    <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="~/assets/img/techxpress.png" class="img-fluid" alt="" style="height:400px">
                        <div class="portfolio-info">
                            <h4>App 3</h4>
                            <p>E-commerce Platform</p>
                            <a href="~/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 2" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                            <a href="https://github.com/RenadAlshooni/SWD5_S2_T3" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                        </div>
                           

                    </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-card">
                            <img src="~/assets/img/portfolio/sql.png" class="img-fluid" alt="" style="height:400px">
                            <div class="portfolio-info">
                                <h4>Card 1</h4>
                                <p>SQL Certificate</p>
                                <a href="~/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="https://drive.google.com/file/d/1ux25039p9UZKPEfuAbLFvnkMBqIZJs_B/view?usp=drive_link" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-card">
                            <img src="~/assets/img/portfolio/ai.png" class="img-fluid" alt="" style="height:400px">
                            <div class="portfolio-info">
                                <h4>Card 2</h4>
                                <p>AI Certificate</p>
                                <a href="~/img/masonry-portfolio/masonry-portfolio-2.jpg" title="Product 1" data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="https://drive.google.com/file/d/1uDjGkmEcy7Fikg1thJtEqbKuBeleuHUO/view?usp=drive_link" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        

                    </div><!-- End Portfolio Container -->

                </div>

            </div>

        </section><!-- /Portfolio Section -->

    </main>
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <!-- Vendor JS Files -->
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/php-email-form/validate.js"></script>
    <script src="~/vendor/aos/aos.js"></script>
    <script src="~/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="~/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="~/js/main.js"></script>
   
    


</body>



